.place__title {
    order: 1;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    max-width: calc(50% - 2.5%);
    margin-top: 0;
    margin-bottom: 0;
    max-height: fit-content;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 432px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        max-width: calc(100% - (5% + 5%));
        width: 100%;
        margin: 0 auto 0;
    }
}