.place__image {
    order: 3;
    max-width: calc(50% - 2.5%);
    margin-top: 48px;
    margin-bottom: auto;
}

@media screen and (max-width: 500px) {
    .place__image {
        margin-top: 100px;
    }
}

@media screen and (max-width: 432px) {
    .place__image {
        max-width: 100%;
        margin-top: 10%;
        margin-bottom: auto;
    }
}