.place__image {
    max-width: 460px;
    height: fit-content;
    order: 3;
    margin-top: 48px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 470px) {
    .place__image {
        max-width: 100%;
        margin: 32px auto 0;
    }
}