.header__logo {
    background-image: url(../../../images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 176px;
    width: 100%;
    max-height: 52px;
}

@media screen and (max-width: 432px) {
    .header__logo {
        max-width: 142px;
        width: 100%;
        max-height: 42px;
    }
}