header {
    max-width: calc(100% - (3.75% + 3.75%));
    margin: 0 auto 0;
    display: flex;
    min-height: 52px;
}


@media screen and (max-width: 432px) {
    header {
        max-width: 100%;
        min-height: 42px;
        margin-right: 5%;
        margin-left: 5%;
    }
}