.lead__title {
    width: 100%;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 85px;
    }
}

@media screen and (max-width: 607px) {
    .lead__title {
        font-size: 50px;
        line-height: 48px;
    }
}

@media screen and (max-width: 453px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}