.cover {
    max-width: calc(100% - (3.75% + 3.75%));
    min-height: 740px;
    margin: 87px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 432px) {
    .cover {
        min-height: 240px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}