.cover {
    max-width: calc(100% - (3.75% + 3.75%));
    min-height: 740px;
    margin: 87px auto 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover::before {
    content: '';
    background: rgba(42, 44, 47, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover:hover::before {
    background: rgba(42, 44, 47, .8);
    transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 596px) {
    .cover {
        min-height: 300px;
    }
}

@media screen and (max-width: 460px) {
    .cover {
        min-height: 240px;
    }
}


@media screen and (max-width: 320px) {

    .cover {
        min-height: 200px;
    }
}