.nav {
    display: flex;
}

@media screen and (max-width: 698px) {
    .nav {
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {
    .nav {
        flex-direction: column;
        width: fit-content;
    }
}