.footer {
    width: 92.5%;
    margin: 92px auto 0;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 320px) {
    .footer {
        width: 186px;
        height: 310px;
        margin-left: 16px;
        flex-direction: column;
    }
}