@media screen and (max-width: 1024px) {
    .section {
        max-width: 928px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section:nth-of-type(2) {
        max-width: 690px;
        margin-left: 48px;
    }

}

@media screen and (max-width: 768px) {
    .section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section:nth-last-of-type(1) {
        max-width: 93.75%;
    }

    .section:nth-of-type(2) {
        max-width: 93.75%;
        margin-left: auto;
        margin-right: auto;
    }

    .section:nth-of-type(4) {
        max-width: 93.75%
    }
}

@media screen and (max-width: 607px) {
    .section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}